@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1 class="display-4">За ZooForum</h1>
</div>
<head>
    <style>
        img {     
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
            position: absolute;
            top: 200px;
            right: 950px;
}
        }
        body {
            background-size: cover;
            text-align: center;
        }

        p {
            margin-top: 130px;
            margin-left: 550px;
            padding: 20px;
            color: black;
        }
    </style>
    
</head>
<body>
<div class="textBox">
    <img src="/img/animals.jpg">
    <p>
        This is where you’ll discover fun (and furry!) animal facts about our planet’s incredible wildlife. From majestic mammals and soaring birds to super sea creatures and curious creepy crawlies – it’s an animal lover’s dream!

        Discover rare and unusual species, brilliant bears, fierce felines, awesome reptiles and incredible marine life, just to name a few.

        Learn animal facts about habitat, behaviour, speed and appetite (beware, the great white shark!) and most importantly, discover the threats that many of these amazing animals face today.
    </p>
	</div>
</body>