@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Добре дошли в ZooForum!</h1>
</div>
<h2 class ="display-6">Тук можете да намерите информация за различни видове животни:</h2>

<ul>
    <li>
        <h3>Котки</h3>
        <img src="/img/cat.jpg" alt="Снимка на котка" width="200" height="200" />
    </li>
    <li>
        <h3>Кучета</h3>
        <img src="/img/dog.jpg" alt="Снимка на куче" width="200" height="200" />
    </li>
    <li>
        <h3>Птици</h3>
        <img src="/img/parrot.jpg" alt="Снимка на птица" width="200" height="200" />
    </li>
</ul>



