@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Добре дошли в ZooForum!</h1>
</div>
<p>Тук можете да намерите информация за различни видове животни:</p>

<ul>
    <li>
        <a href="/Animals/Cats">Котки</a>
        <img src="/images/cat.jpg" alt="Снимка на котка" width="200" height="200" />
    </li>
    <li>
        <a href="/Animals/Dogs">Кучета</a>
        <img src="/images/dog.jpg" alt="Снимка на куче" width="200" height="200" />
    </li>
    <li>
        <a href="/Animals/Birds">Птици</a>
        <img src="/images/bird.jpg" alt="Снимка на птица" width="200" height="200" />
    </li>
</ul>



